 /* Bootstrap core CSS  */
 body {
    background-color: #f8f9fa;
  }

  .pricing-header {
    background-color: #343a40;
    color: #fff;
  }

  .card-deck .card {
    border: none;
  }

  .card-deck .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
  }

  .card-deck .card-body {
    background-color: #fff;
    border-bottom: 2px solid #f8f9fa;
  }

  .card-deck .card-title {
    color: #343a40;
  }

  .card-deck .card-subtitle {
    color: #868e96;
  }

  .card-deck .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .card-deck .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  footer {
    background-color: #343a40;
    color: #fff;
  }